/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/

@import './variables.scss';
@import './mixins.scss';

/******* CH01 - Resets *******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

/******* CH02 - Typography *******/
body {
font-family: $font-stack;
color: black;
}

p {
  @include font-settings;
  padding: 1rem!important
}

h1 {
  font-size: 2.50em;
  padding: 1rem!important;
}
h2 {
  font-size: 2em;
  padding: .4rem;
}

h3 {
  font-size: 1.8em;
  padding: .2rem!important;
}

h4 {
  font-size: 1.6em;
  padding: 1rem 0!important
}

/******* CH03 - Page Structure *******/
body {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-gap: 50px;
  grid-template-areas: "header"
                       "main"
                       "footer"
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}





/******* CH04 - Header & Navigation *******/
nav {

   ul {
    @include nav-bar-gradient;

    list-style: none;      
  }
   

}
/******* CH05 - Content & Media *******/
/******* CH06 - Footer *******/
footer {
  background: #333;
  color: #fff;
}
footer div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

footer div:nth-child(1) div:nth-child(1) {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
                    "Phone"
                    "Location"
}

footer div:nth-child(1) div:nth-child(1) div:nth-child(1)  {
  grid-area: Phone;
}
footer div:nth-child(1) div:nth-child(1) div:nth-child(2)  {
  grid-area: Location;
}
.site-info {
  background: #000;
  color: #888;
}


/******* CH07 - Miscellaneous *******/
form {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows:  1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: 
                  "Label-1 Label-2"
                  "Message Message"
                  "Button Button"
}

form input:nth-child(1) {
  grid-area: Label-1 ;
}
form input:nth-child(2) {
  grid-area: Label-2;
}
form textarea  {
  grid-area: 2 / 1 / span 1 / span 2;
}

form {
    button {
    @include btn-border-line(white, white);
    grid-area: 3 / 1 / span 1 / span 2;
  }
    button:hover, button:focus {
    @include btn-border-line-hover($primary-color);
  }
}  

@import './lg-screens.scss';
@import './md-screens.scss';
@import './sm-screens.scss';
@import './xs-screens.scss';