div.container.py-5
    a#bottom  
    div.row
        div.text-center.col-lg-12
    h2.text-center.px-3.py-2 Get in Touch <br> <strong>Contact Us</strong>
        p.lead I Will Get Back To You ASAP
        div.col-lg-12
            form.mr-auto.ml-auto.py-4
                .form-group
                    input.form-control(type="text" name="contact-form-name" placeholder="Name")
                .form-group
                     input.form-control(type="text" name="contact-form-email" placeholder="Email Address")
                .form-group
                    textarea.form-control(type="text" name="contact-form-message" placeholder="Leave Your Message")
                button.btn.btn-primary(type="submit") Send It Now