section.faq-container
 a#faq
 h2.text-center F.A.Q
 #accordion
  .card
    #headingOne.card-header
      h5.mb-0
        button.btn.btn-link(data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
          | How do I buy beats from your store?
    #collapseOne.collapse.collapsed(aria-labelledby='headingOne', data-parent='#accordion')
      .card-body
        | To purchase the beats, simply click the +ADD-button next to them in the player on our homepage. You will then be able to select the desired licensing options. Also make sure to click the "Package Discounts" tab in the player in order to see our bundle deals. Once you selected the musical compositions of your choice, you can complete your order via PayPal or credit card by selecting the "Buy Now" button in the player. You will receive all files automatically right after payment. Make sure to check your SPAM-folder as well.
  .card
    #headingTwo.card-header
      h5.mb-0
        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
          | Do you offer any bundle deals or discounts on your beats?
    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
      .card-body
        | Yes, I offer bundle deals on all of our licenses. In order to look into them, simply click the "Package Discounts“ tab shown in our player at the main page.
  .card
    #headingThree.card-header
      h5.mb-0
        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
          | An Exclusive Beats Taken Off The Website?
    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
      .card-body
        | Yes! After the order is complete, the purchased exclusive beat will be instantly taken off the website.
  .card
    #headingFour.card-header
      h5.mb-0
        button.btn.btn-link(data-toggle='collapse', data-target='#collapseFour', aria-expanded='true', aria-controls='collapseFour')
          | Will all tags be removed once I purchase the beat??
    #collapseFour.collapse.collapsed(aria-labelledby='headingFour', data-parent='#accordion')
      .card-body
        | Yes. Once purchased you will receive download links with all tags removed from the beats.
  .card
    #headingFive.card-header
      h5.mb-0
        button.btn.btn-link(data-toggle='collapse', data-target='#collapseFive', aria-expanded='true', aria-controls='collapseFive')
          | What are track outs?
    #collapseFive.collapse.collapsed(aria-labelledby='headingFive', data-parent='#accordion')
      .card-body
        | It means that every sound of the beat (drums, snares, hit hats, instruments, samples, vocals etc…) will all be separated in high quality wav audio files also known as stems. This is extremely beneficial because now your audio engineer will have more control or the editing, mix, and master process of the beat for the best sound possible.
  .card
    #headingSix.card-header
      h5.mb-0
        button.btn.btn-link(data-toggle='collapse', data-target='#collapseSix', aria-expanded='true', aria-controls='collapseSix')
          | How do I give credit to the producer?
    #collapseSix.collapse.collapsed(aria-labelledby='headingSix', data-parent='#accordion')
      .card-body
        | Give credit in one of the following formats: “Produced by David Metropolis or davidmetropolis.com”