section.newsletter-container.py-5
        .row
            .col-md-6.col-lg-6
                h2.text-center(style="color:white") Subscribe to Our Newsletter and Receive 2 Free Beats!
            form.mr-auto.ml-auto.py-4
                div.row
                    .form-group.subscribe-form-input
                    span.input-group-btn.subscribe-top
                        input#subscribe-form-email.top-subscribe-input(type='email', name='email', placeholder='Enter your email address')
                    span.input-group-btn.sign-btn
                        button.subscribe-form-submit.btn.btn-primary(data-loading-text='Loading...') Sign Up
