section.player-container.py-5
    h2.text-center <strong>Beat Player</strong>
    a#player
    <iframe id="mfs_html5" src="https://airbit.com/widgets/html5/?uid=224628&config=428127" width="100%" height="510" frameborder="0" scrolling="no"></iframe>  