extends layout

block content

  div.three-boxes
    div.box-1
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-4.jpg")
    div.box-2
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-2.jpg")
    div.box-3
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-5.jpg")
    div.box-4
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-4.jpg")
    div.box-5
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-2.jpg")
    div.box-6
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-5.jpg")
      a Service
