extends layout

block content
  h2.p-5.text-center.invisible  Heading 2
  div.three-boxes#boxes
    div.box-1.invisible
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-4.jpg")
    div.box-2.invisible
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-2.jpg")
    div.box-3.invisible
      img( style="width:100%;" src="http://lorempixel.com/output/nightlife-q-c-640-640-5.jpg")
  include ./inc/pages/about
  include ./inc/pages/services
  include ./inc/pages/discounts