section.about-container.py-5
    a#about
    div.about-header.fade-in
        h2.text-center Triple C Automotive
        p Triple C Automotive was established on January 2017 in Markham by Carlos Felipa who is a Master Mechanic. Carlos Felipa has been in the car repair industry since he was a child and has over a decade of experience. He has worked on every possible car repair job. Carlos has worked in all major car shops like Canadian Tire, Active Green Ross and dealerships in all over the Great Toronto Area. He has replaced engines, rebuilt engines, replaced transmissions of all makes and models, just name the job he has done it.

    div.about-content.row
        div.col-lg-4.col-md-4.col-sm-4.col-xs-12.fade-in
            h3.text-center Our Auto Shop
            p.p-2 We pride ourselves in having a modern and clean clean facility for our customers. We provide them with a cozy place where they can hang out, play a game, watch a film while we repair their car if they choose to. All our customers are provided with Free Wifi access so they can save on their cellular data and chat with their family and friends.
        div.col-lg-4.col-md-4.col-sm-4.col-xs-12.fade-in
            h3.text-center Promise To You
            p.p-2 Here at Triple C Automotive we respect each and every customer and treat them like they’re our family. We aim to satisfy all our customers but our promise is to provide honesty to all our customers and never take advantage of them. We challenge you to find another auto repair shop in Markham who will provide you with honesty, professionalism and affordable prices. We will not only repair your car but educate you on how you could expand the life of your car.
        div.col-lg-4.col-md-4.col-sm-4.col-xs-12.fade-in
            h3.text-center Auto Shop
            p.p-2 We pride ourselves in having a modern and clean clean facility for our customers. We provide them with a cozy place where they can hang out, play a game, watch a film while we repair their car if they choose to. All our customers are provided with Free Wifi access so they can save on their cellular data and chat with their family and friends.
    p.fade-in If you’re tired of being taken advantage by greedy mechanics and tired of having inexperienced mechanics do a poor job on your car then you need to come to Triple C Automotive so we can restore your car back to perfection and prove to you the quality and professionalism of our service.