section.special-offers-container.py-5
    a#discounts
    div.img-container
        picture
            source(media="(max-width: 576px)" srcset="./assets/png/discount-bg-mobile.png")
            img( style="width:100%;" src="./assets/png/discount-bg.png")
        div.content.container
            h2.text-center(style="color:white") GET 15% OFF ENGINE DIAGNOSTIC
            form.mr-auto.ml-auto.py-4
                div.row
                    .form-group.col-lg-5
                        input.form-control(type="text" name="contact-form-name" placeholder="Name")
                    .form-group.col-lg-5
                        input.form-control(type="text" name="contact-form-email" placeholder="Email Address")
                    .col-lg-2
                        button.btn.btn-primary( type="submit") Subscribe