section.special-offers-container
    a#discounts
    div.img-container
        img(src="./assets/png/discount-bg.png")
        div.content.container
            h2.text-center(style="color:white") Get 20% OFF tires by signing up to our newsletter
            form.mr-auto.ml-auto.py-4
                div.row
                    .form-group.col-lg-5
                        input.form-control(type="text" name="contact-form-name" placeholder="Name")
                    .form-group.col-lg-5
                        input.form-control(type="text" name="contact-form-email" placeholder="Email Address")
                    .col-lg-2
                        button.btn.btn-primary( type="submit") Subscribe
    div.row
        div.col-lg-6.coupon-box-1
            h1 SAVE $30 ON BRAKES & BRAKE REPAIR
            button Download Coupon
        div.col-lg-6.coupon-box-2
            h1 $80 OFF ON ANNUAL VEHICLE INSPECTION
            button Download Coupon