div.featured-content.row.text-center.py-5
    div.col-lg-4.col-md-4.col-sm-4.box-1.fade-in
        h2 Auto Services
        img(src="./assets/png/service-image-2.png")
        p Oil Changes, Brake Checks, A/C Repairs and more
        button.btn.button-3 Get Maintenance
    div.col-lg-4.col-md-4.col-sm-4.box-2.fade-in
        h2 Exclusive Offers
        img(src="./assets/png/service-image-4.png")
        p Start saving on winter tires installation by signing up to our newsletter
        button.btn.button-3 Sign Up
    div.col-lg-4.col-md-4.col-sm-4.box-3.fade-in
        h2 Have Questions?
        img(src="./assets/png/service-image-1.png")
        p We're happy to educate you about car maintenance
        button.btn.button-3 Contact Us