section.special-offers-container.py-5
    a#discounts
    div.img-container
        picture
            source(media="(max-width: 576px)" srcset="./assets/png/toronto-streets-mobile.png")
            img( style="width:100%;" src="./assets/png/toronto-streets.png")
        div.content.container.text-center(style="color:white")
            h2 GET CONNECTED <br> <strong>FOLLOW US</strong>
            p Get connected with us on social networks!