include ../mixin/functions.jade
- function getDate() {
-    var newDate = new Date();
-    return newDate.getFullYear();
- }

div.container
    div.site-info.text-center 
        small Copyright &copy; #{getDate()}