include ../mixin/functions.jade
- function getDate() {
-    var newDate = new Date();
-    return newDate.getFullYear();
- }      
div.site-info.text-center.py-4
    small Copyright &copy; #{getDate()}