div
    div(style="position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%)") 
        h1.main-heading WHERE <span>HONESTY</span> IS BEFORE <span>MONEY</span>
    img( style="width:100%;" src="./assets/png/image-2.png")
div.row
    div.col-lg-6.coupon-box-1.py-5.pl-5
        h1 SAVE $30 ON BRAKES & BRAKE REPAIR
        button.btn.button-4 Download Coupon
    div.col-lg-6.coupon-box-2.py-5.pr-5
        h1 $80 OFF ON ANNUAL VEHICLE INSPECTION
        button.btn.button-4 Download Coupon