nav.d-none.d-sm-block
    ul.navbar.fixed-top
      div.container
        li  
          a.navbar-brand(href='#top')
          h1(style="color: #000") Mindwrecka
        li.nav-item
          a.nav-link(href='#top') Home
        |       
        li.nav-item
          a.nav-link(href='#player') Player
        |      
        li.nav-item
          a.nav-link(href='#licensing-info') Licensing Info
        |       
        li.nav-item
          a.nav-link(href='#faq') FAQ
        |       
        li.nav-item
          a.nav-link(href='#bottom') Contact

nav.d-block.d-sm-none.navbar.navbar-dark.bg-dark.fixed-top.p-3.mobile-navigation
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  span.pl-3
    h2 Wrecka
  .pos-f-t
    #navbarToggleExternalContent.collapse.bg-dark.p-4
      ul
        li.nav-item
          a.nav-link(href='#player') Player
        |      
        li.nav-item
          a.nav-link(href='#licensing-info') Licensing Info
        |       
        li.nav-item
          a.nav-link(href='#faq') FAQ
        |       
        li.nav-item
          a.nav-link(href='#bottom') Contact
