nav
    ul.navbar.fixed-top
      div.container
        li  
          a.navbar-brand(href='#top')
            include ./logo.html
        li.nav-item
          a.nav-link(href='#top') Home
        |       
        li.nav-item
          a.nav-link(href='#about') About
        |      
        li.nav-item
          a.nav-link(href='#services') Services
        |       
        li.nav-item
          a.nav-link(href='#discounts') Discounts
        |       
        li.nav-item
          a.nav-link(href='#bottom') Contact
